---

---

header {
  #header-title {
    margin-top: 60px;
    img {
      max-height: 200px;
      max-width: 100vw;
    }
  }
}

main {
  .author-box {
    .author-thumb {
      width: 100%;
    }
  }
}
