---

---

header {
  .navbar {
    z-index: 2000 !important;

    .nav-link {
      color: #fff !important;
    }
  }

  #header-background {
    margin-top: -58.59px;
    height: 40vh !important;
  }
}

main {
  .author-box {
    .author-thumb {
      width: 100%;
    }
  }
}
